
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Checkout.css">

<div class="row">
    <div class="col-7 text-center mx-auto" id="emptyCart">
        <div id="emptyCartData">
            <img src="~/Images/cart_empty.png" alt="" />
            <h4>YOUR CART IS EMPTY</h4>
            <P>Please add some items from the menu.</P>
            <button class="btn" id="exploreMenu" onclick="location.href='/home/menu'" type="button">EXPLORE MENU</button>
        </div>
    </div>
    <div class="col-8 p-4" style="display:none">
        <div class="numberOfItems"></div>
        <a href="/home/menu" class="float-right">Explore Menu</a>
        <div class="itemList"></div>
    </div>
    <div class="col-4 p-4">
        <p><b>Price Details</b></p>
        <div id="billAmount" class="px-4 py-3">
            <div class="row">
                <ul class="col-9">
                    <li>Sub Total</li>
                    <li>GST</li>
                    <li>Discount</li>
                    <hr />
                    <li>Grand Total</li>
                </ul>
                <ul class="col-3">
                    <li id="subTotal">1</li>
                    <li id="gst">2</li>
                    <li id="discount">3</li>
                    <hr style="position:relative;left:-30px"/>
                    <li id="grandTotal">4</li>

                </ul>
            </div>
            <button class="btn" id="placeOrder">PLACE ORDER</button>
        </div>
    </div>
</div>

@section scripts{
    <script>
        console.log(localStorage.getItem("cart"));
    </script>
}
